
.search-bar {
  padding: 8px 14px;
  font-size: 15px;
  border-radius: 30px;
  display: flex;
  justify-content: stretch;
}

.header{
  display: flex;
  flex-direction: row;
  height: 70px;
  justify-content: space-between;
  align-items: center;
}

.left-section{
  display: flex;
  align-items: center;
}
.middle-section{
  display: flex;
  flex: 1;
  margin-left: 200px;
  margin-right: 150px;
  max-width: 500px;
}
.right-section{
  width: 250px;
}

.menu{
  height: 20px;
  margin-left: 26px;
  margin-right: 25px;
}
.yt_logo{
  height: 20px;
}

.search{
  height: 4cap;
  width: 60px;
}
.voice-search{
  height: 40px;
  width: 60px;
}