
.search-bar {
  padding: 0 14px;
  font-size: 15px;
  border-radius: 30px;
  flex: 1;
  border: 1px solid grey;
  box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.15);
  width: 0;
}
.search-bar::placeholder{
  font-family: Roboto, Arial;
  font-size: 14px;
}

.header{
  display: flex;
  flex-direction: row;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom: 2px solid rgba(212, 212, 212, 0.541);
  z-index: 100;
}

.left-section{
  display: flex;
  align-items: center;
  margin-right: 50px;
}
.middle-section{
  display: flex;
  flex: 1;
  justify-content: center;
  max-width: 500px;
}
.right-section{
  margin-left: 30px;
  width: 230px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

.menu{
  height: 30px;
  margin-left: 29px;
  margin-right: 29px;
  cursor: pointer;
}
.yt_logo{
  height: 25px;
  cursor: pointer;
}
.search{
  background-color: rgb(240, 240, 240);
  height: 40px;
  width: 66px;
  border: 1px solid grey;
  margin-left: -17px;
  cursor: pointer;
}
.search, .voice-search, .div-upload, .div-yt-apps, .div-notification{
  position: relative;
}

.search .tooltip,
.voice-search .tooltip,
.div-upload .tooltip,
.div-yt-apps .tooltip,
.div-notification .tooltip{
  font-family: Roboto, Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgb(78, 78, 78);
  color: white;
  padding: 4px 8px;
  border-radius: 5px;
  left: -30px;
  bottom: -30px;
  font-size: 15px;
  opacity: 0;
  transition: all 0.2s;
  pointer-events: none;
  white-space: nowrap;
}
.search:hover .tooltip,
.voice-search:hover .tooltip,
.div-upload:hover .tooltip,
.div-yt-apps:hover .tooltip,
.div-notification:hover .tooltip{
  opacity: 1;
}


.voice-search{
  height: 40px;
  border: none;
  margin-left: 6px;
  cursor: pointer;
  background-color: white;
}

.voice-search:hover{
  background-color: rgb(240, 240, 240);
  border-radius: 100%;
}

.search-icon{
  height: 30px;
}

.voice-search-icon{
  height: 30px;
}
.upload{
  height: 30px;
  cursor: pointer;
}
.upload:hover{
  background-color: rgb(230, 230, 230);
  border-radius: 100%;

}
.yt-apps{
  height: 30px;
  cursor: pointer;
}
.yt-apps:hover{
  background-color: rgb(230, 230, 230);
  border-radius: 100%;
}

.notification{
  height: 30px;
  cursor: pointer;
}

.div-notification{
  position: relative;
}
.div-notification:hover{
  background-color: rgb(230, 230, 230);
  border-radius: 100%;
}

.div-notification-count{
  background-color: red;
  color: white;
  position: absolute;
  top: 0;
  right: -2px;
  border-radius: 100%;
  padding: 2px 2px;
  font-size: 11px;
  cursor: pointer;
}

.profile{
  height: 38px;
  border-radius: 100%;
  margin-right: 27px;
  cursor: pointer;
}

.ytlink{
  text-decoration: none;
  color: black;
}