
.search-bar {
  padding: 0 14px;
  font-size: 15px;
  border-radius: 30px;
  flex: 1;
  border: 1px solid grey;
  box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.15);
  width: 0;
}
.search-bar::placeholder{
  font-family: Roboto, Arial;
  font-size: 14px;
}

.header{
  display: flex;
  flex-direction: row;
  height: 70px;
  justify-content: space-between;
  align-items: center;
}

.left-section{
  display: flex;
  align-items: center;
  margin-right: 50px;
}
.middle-section{
  display: flex;
  flex: 1;
  justify-content: center;
  max-width: 500px;
}
.right-section{
  margin-left: 30px;
  width: 230px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

.menu{
  height: 30px;
  margin-left: 29px;
  margin-right: 29px;
  cursor: pointer;
}
.yt_logo{
  height: 25px;
  cursor: pointer;
}

.search{
  background-color: rgb(240, 240, 240);
  height: 40px;
  width: 66px;
  border: 1px solid grey;
  margin-left: -17px;
  cursor: pointer;
}
.voice-search{
  height: 40px;
  border: none;
  background-color: rgb(240, 240, 240);
  border-radius: 100%;
  margin-left: 6px;
  cursor: pointer;
}

.search-icon{
  height: 30px;
  margin-top: 2px;
}
.voice-search-icon{
  height: 30px;
  margin-top: 2px;
}

.upload{
  height: 30px;
  cursor: pointer;
}
.yt-apps{
  height: 30px;
  cursor: pointer;
}
.notification{
  height: 30px;
  cursor: pointer;
}

.profile{
  height: 38px;
  border-radius: 100%;
  margin-right: 27px;
  cursor: pointer;
}
