
.search-bar {
  padding: 0 14px;
  font-size: 15px;
  border-radius: 30px;
  flex: 1;
  border: 1px solid grey;
  box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.15);
}
.search-bar::placeholder{
  font-family: Roboto, Arial;
  font-size: 14px;
}

.header{
  display: flex;
  flex-direction: row;
  height: 70px;
  justify-content: space-between;
  align-items: center;
}

.left-section{
  display: flex;
  align-items: center;
}
.middle-section{
  display: flex;
  flex: 1;
  margin-left: 200px;
  margin-right: 150px;
  max-width: 500px;
}
.right-section{
  width: 250px;
  display: flex;
  align-items: center;
}

.menu{
  height: 30px;
  margin-left: 29px;
  margin-right: 29px;
}
.yt_logo{
  height: 25px;
}

.search{
  background-color: rgb(240, 240, 240);
  height: 40px;
  width: 66px;
  border: 1px solid grey;
  margin-left: -17px;
}
.voice-search{
  height: 40px;
  border: none;
  background-color: rgb(240, 240, 240);
  border-radius: 100%;
  margin-left: 6px;
}

.search-icon{
  height: 30px;
  margin-top: 2px;
}
.voice-search-icon{
  height: 30px;
  margin-top: 2px;
}

.upload{
  
}
