
.search-btn {
  padding: 8px 14px;
  font-size: 15px;
  border-radius: 30px;
}

.header{
  display: flex;
  flex-direction: row;
  height: 70px;
  justify-content: space-between;
}

.left-section{
  background-color: lightblue;
  width: 200px;
}
.middle-section{
  background-color: lightpink;
  flex: 1;
  margin-left: 200px;
  margin-right: 150px;
  max-width: 500px;
}
.right-section{
  background-color: lightblue;
  width: 250px;
}