/* Sidebar css */
.sidebar{
  position: fixed;
  top: 68px;
  bottom: 0;
  background-color: white;
  width: 75px;
  z-index: 200;
}

.sidebar-tools{
  margin-top: 2px;
  height: 76px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sidebar-tools img{
  height: 24px;
  margin-bottom: 2px;
}

.sidebar-tools div{
  font-family: Roboto, Arial;
  font-size: 10px;
}


.sidebar-tools:hover{
  background-color: lightgray;
}