/* Videos preview CSS */

body
{
  background-color: rgb(245, 245, 245);
}
.div-videogrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 50px;
  padding-left: 100px;
}
@media (max-width:900px)
{
  .div-videogrid 
  {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width:600px)
{
  .div-videogrid 
  {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width:1400px)
{
  .div-videogrid 
  {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width:1750px)
{
  .div-videogrid 
  {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}



.div-video {
  cursor: pointer;
  padding: 10px 10px;
  transition: all 0.3s;
}

.div-video:hover {
  background-color: rgb(189, 189, 189);
  border-radius: 4px;
}

.videothumbnail {
  width: 100%;
  border-radius: 6px;
  box-shadow: 0 0 5px rgb(75, 75, 75);
  margin-bottom: 4px;
}

.div-videoinfo {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.div-channelavatar {
  width: 100%;
}

.channel-avatar {
  width: 45px;
  border-radius: 100%;
}

.div-videotext {
  padding: 0 10px;
}

.video-title {
  margin: 0 0 4px;
  font-size: 15px;
  font-weight: bold;
  line-height: 20px;
}

.video-creator,
.video-stats {
  margin: 0;
  color: #555;
  font-size: 14px;
}


.div-thumbnail{
  position: relative;
}
.div-time{
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  position: absolute;
  bottom: 8px;
  right: 5px;
  padding: 2px 4px;
  font-size: 13px;
  border-radius: 3px;
}