* {
  box-sizing: border-box;
  font-family: 'Roboto', Arial;
}

body {
  margin: 16px;
  color: #111;
}

p{
  margin: 0;
}

.search-btn {
  padding: 8px 14px;
  font-size: 15px;
  border-radius: 30px;
  display: block;

}
.video {
  width: 355px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  margin-right: 15px;
}
.video:hover{
  background-color: rgb(189, 189, 189);
  border-radius: 4px;
}

.video-thumb {
  width: 100%;
  border-radius: 6px;
  display: block;
}

.video-meta {
  width: 100%;
  display: inline-block;
  align-items: top;
  padding-top: 10px;
}

.channel-avatar {
  width: 100%;
  border-radius: 100%;
}
.channel-avatar-div{
  display: inline-block;
  vertical-align: top;
  width: 50px;
}

.video-info {
  display: inline-block;
  width: 70%;
  padding: 0 10px;
}

.video-title {
  margin: 0 0 4px;
  font-size: 15px;
  font-weight: bold;
  line-height: 20px;
}

.video-creator,
.video-stats {
  margin: 0;
  color: #555;
  font-size: 14px;
}
