* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 16px;
  color: #111;
}

.search-btn {
  padding: 8px 14px;
  font-size: 15px;
  border-radius: 30px;
  display: block;

}
.video {
  width: 300px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  margin-right: 15px;
}
.video:hover{
  background-color: rgb(189, 189, 189);
  border-radius: 4px;
}

.video-thumb {
  width: 100%;
  border-radius: 6px;
  display: block;
}

.video-meta {
  width: 100%;
  display: inline-block;
  align-items: top;
}

.channel-avatar {
  width: 40px;
  border-radius: 100%;
  display: inline-block;
  vertical-align: top;
}

.video-info {
  display: inline-block;
  width: 250px;
}

.video-title {
  margin: 0 0 4px 0;
  font-size: 16px;
}

.video-creator,
.video-stats {
  margin: 0;
  color: #555;
  font-size: 14px;
}
