*{
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
 }

 .account-div{
   margin: 10px 10px;
   width: 300px;
   box-shadow: 0 0 4px rgb(165, 165, 165);
   padding: 15px 10px;
   border-radius: 10px;
   
 }

 .pf-div{
   width: 50px;   
   height: 50px;
   border-radius: 100%;
   display: inline-block;
 }
 .pf{
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 100%;
   cursor: pointer;
 }


 .info-div{
   display: inline-block;
   margin-left: 10px;
   vertical-align: top;
 }
 .name{
   font-size: 14px;
   font-weight: bold;
   cursor: pointer;
 }

 .user{
   font-size: 14px;
   color: gray;
 }
 .class{
   margin-top: 4px;
   font-size: 13px;
   color: gray;
 }

 .follow-div{
   display: inline-block;
   vertical-align: top;
   margin-left: 50px;
   margin-top: 14px;

 }   

 .follow {
   background-color: #1d9bf0;
   color: white;
   border: none;
   padding: 6px 14px;
   border-radius: 15px;
   font-size: 13px;
   cursor: pointer;
   transition: opacity 0.2s;
 }
 .follow:hover{
   opacity: 0.8;
 }

