
.friendsuggestion-box{
  margin: 10px;
  border: none;
  width: 820px;
  height: 1250px;
  box-shadow: 0 0 5px rgb(49, 49, 49);
  padding: 10px 10px;
}

.ftext-div{
  margin: 5px 10px;
}
.ftext{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.Pymk{
  color: rgb(109, 109, 109);
  font-size: 14px;
  font-weight: bold;
}

.acc-div{
  width: 150px;
  margin: 5px;
  box-shadow: 0 0 5px rgb(134, 134, 134);
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
}
.acc-div:hover{
  background-color: rgb(197, 197, 197);
}


.info-div{
  margin: 5px 5px;
}

.img1{
  width: 150px;
  height: 150px;
  object-fit: cover;
}

*{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.name{
  font-weight: bold;
  font-size: 13px;
  margin: 2px 0;
}

.mutual-div{
  display: inline-block;
  width: 100px;
}
.mutual{
  color: rgb(109, 109, 109);
  font-size: 11px;
  font-weight: normal;
}

.mutualpf-div{
  width: 20px;
  height: 20px;
  display: inline-block;
}
.mutualpf{
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

.add-btn{
  border: none;
  background-color: rgb(63, 118, 236);
  color: white;
  font-size: 13px;
  border-radius: 4px;
  padding: 5px 10px;
  margin-bottom: 5px;
  cursor: pointer;
}

.add-btn:hover{
  opacity: 0.7;
}