*{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif
  ;
}

.div-people{
  display: grid;
  grid-template-columns: 150px 150px 150px;
  margin-top: 20px;
  margin-left: 20px;
  column-gap: 15px;
  row-gap: 10px;
  cursor: pointer;
}

.div-acc{
  box-shadow: 0 0 5px rgb(190, 190, 190);
  border-radius: 10px;
}
.div-acc:hover{
  background-color: rgb(221, 221, 221);
}

.img{
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center;
}
.div-info{
  padding-left: 5px;
  padding-bottom: 10px;
}
.name{
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 5px;
}
.div-mutuals{
  display: grid;
  grid-template-columns: 20px 1fr;
}
.pfmutual{
  width: 20px;
  height: 20px;
  border-radius: 100%;
}
.mutualcount{
  margin-left: 5px;
  font-size: 12px;
  color: rgb(94, 94, 94);
}
.add-button{
  margin-top: 2px;
  border: none;
  background-color: rgb(65, 125, 245);
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}
.add-button:hover{
  opacity: 0.9;
}