.div-rowgroup{
  display: flex;
  flex-direction: row;
}

.div1, .div3{
  background-color: lightblue;
}

.div1{
  width: 50px;
}
.div2{
  background-color: lightpink;
  flex: 1;
}
.div3{
  width: 75px;
}