*{
  margin: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

.div-sel{
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  width: 300px;
  box-shadow: 0 0 4px gray;
  border-radius: 5px;
}

.div-home, .div-notif, .div-messages{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 10px;
  height: 40px;
  align-items: center;
}

.notifications{
  background-color: rgb(90, 90, 226);
  color: white;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 12px;
  align-items: center;
}

.text{
  font-weight: medium;
}