*{margin: 0; font-family: Arial, Helvetica, sans-serif;}

.div-postcontainer{
  display: flex;
  flex-direction: row;
  gap: 5px;
  max-width: 500px;
  padding: 5px 5px;
}

.div-profile{
  width: 35px;
}

.profile{
  width: 35px;
  height: 35px;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
  margin: 7px 3px;
}

.div-post{
  display: flex;
  flex-direction: column;
  margin: 7px;
}

.div-user{
  padding-bottom: 2px;
}
.name{
  font-weight: bold;
}
.user{
  font-weight: 200;
  color: rgb(100, 100, 100)
}

.div-description{
 width: 350px;
 font-size: 14px;
 padding-bottom: 7px;
}

.div-ytlink{
  margin-top: 2px;
  display: flex;
  flex-direction: row;
  border-radius: 9px;
  gap: 5px;
  box-shadow: 0 0 5px gray;
  width: 299px;
  height: 80px;
}

.yt-thumbnail{
  width: 160px;
  background-color: rgba(150, 150, 150, 0.342);
  border-radius: 5px 0 0 5px;
}

.yt-description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px 10px;
}