*{margin: 0; font-family: Arial, Helvetica, sans-serif;}
.shade{
  position: fixed;
  display: flex;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.527);
  align-items: center;
  justify-content: center;
}
.sidebar{
  position: fixed;
  background-color: green;
  color: white;
  width: 100px;
  right: 0;
  top: 0;
  bottom: 0;
}



.modal{
  background-color: white;
  width: 200px;
  padding: 13px 10px;
  border-radius: 4px;
}

.title{
  font-weight: 600;
  font-size: 17px;
  margin-bottom: 5px;
}

.text{
  font-size: 14px;
  margin-bottom: 5px;
}

.btn{
  font-size: 9px;
}