*{font-family: Arial, Helvetica, sans-serif;}

.div-user{
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.pf-name{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pf{
  height: 40px;
  width: 40px;
  object-fit: cover;
  object-position: center;
  border-radius: 100%;
}

.name{
  font-size: 17px;
}

.div-button{
  display: flex;
}
