.div-close{
  margin: 0;
  position: absolute;
  background-color: black;
  color: white;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  text-align: center;
  right: 10px;
  cursor: pointer;
}

.div-close:hover{
  opacity: 0.6;
}