.div-fixed{
  position: relative;
  width: 100px;
  height: 67px;
  background-color: gray;
  top: 10px;

}

.close{
  font-family: Arial;;
  display: flex;
  position: absolute;
  background-color: black;
  color: white;
  height: 15px;
  width: 15px;
  font-size: 9px;
  border-radius: 100%;
  text-align: center;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  top: -6px;
  left: -6px;
}

.close:hover{
  opacity: 0.6;
}

.time{
  display: flex;
  position: absolute;
  background-color: rgba(32, 32, 32, 0.856);
  font-size: 10px;
  border-radius: 2px;
  padding: 1px 2px;
  color: white;
  bottom: 3px;
  right: 3px;
}
