.div-image{
  display: inline-block;
  position: relative;
  padding: 10px 10px;
  background-color: rgb(151, 151, 151);
}

.image{
  box-shadow: 0 0 5px black;
  border-radius: 5px;
  height: 300px;
}
.div-sale{
  position: absolute;
  top: 15px;
  right: 10px;
  background-color: black;
  color: white;
  padding: 5px 5px;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}