.div-image {
  position: relative;
  display: inline-block;
  padding: 10px;
  background-color: gray;
  border-radius: 5px;
}

.image {
  height: 300px;
  display: block;
  border-radius: 5px;
  box-shadow: 0 0 5px black;
  cursor: pointer;
}
.image-wrapper {
  position: relative;
}

.div-sale {
  position: absolute;
  top: 20px;
  right: 10px;
  background-color: black;
  color: white;
  padding: 5px;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 2;
}

.div-hover {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 40%;

  background-color: rgba(231, 231, 231, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  transition: opacity 0.3s;

  border-radius: 0 0 5px 5px;
}


.div-image:hover .div-hover {
  opacity: 1;
}

.cart {
  padding: 10px 15px;
  border-radius: 4px;
  border: none;
  background-color: rgb(114, 114, 114);
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
}

.cart:hover {
  background-color: rgb(56, 56, 56);
}
