.google
{
  margin-top: 120px;
  margin-left: 500px;
  width: 250px;
  display: block;
}
.inputbox
{
  margin-top: 2px;
  margin-left: 470px;
  display: block;
  font-size: 16px ;
  padding: 5px 16px;
  border: 0;
  border-radius: 21px;
  box-shadow: 0 0 5px .1px gray;
  width: 300px;
}