
p{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(196, 196, 196);
  margin: 0;
}

.Install{
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 20px;
  color: white; 
  padding-top: 5px;
}

.yt_border{
  height: 95px;
  width: 355px;
  background-color: rgb(44, 42, 42);
  padding-left: 15px;
  padding: 15px 20px;
}