*{font-family: Arial;}
div{
  display: inline-block;
}

.pf, .comment, .twt-btn{
  vertical-align: middle;
}

.border{
  vertical-align: middle;
  padding: 8px 10px;
  display: inline-block;
  border-radius: 4px;
  width: 280px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
}

.pf{
  width: 35px;
  height: 35px;
  border-radius: 100px;
  cursor: pointer;
}

.comment{
  display: inline-block;
  border: none;
  margin-left: 5px;
  font-size: 12px;
} 

.twt-btn{
  font-size: 12px;
  display: inline-block;
  margin-left: 20px;
  border-radius: 50px;
  padding: 6px 10px;
  border: none;
  background-color: rgb(29, 161, 242);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.twt-btn:hover{
  opacity: 0.7;
}