.google
{
  margin-top: 50px;
  width: 300px;
}
.type
{
  font-size: 16px ;
  padding: 5px 16px;
  border: 0;
  border-radius: 21px;
  box-shadow: 0 0 5px .1px gray;
  width: 500px;
}

.button{
  margin-top: 20px;
  margin-left: 5px;
  background-color: rgb(236, 236, 236);
  border: none;
  padding: 10px 10px;
}

.center-div{
  text-align: center;
}