p{
  font-family: Arial;
}

.subscribe-button {
    background-color: rgb(204, 0, 0);
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: opacity 0.3s;
    padding: 10px 16px;
    margin: 0 12px 0 0;
  }
  .subscribe-button:hover
  {
    opacity: 0.6;
  }
  .subscribe-button:active
  {
    color: black;
    background-color: rgba(143, 143, 143, 0.726);
  }
  

  .Join-button
  {
    background-color: white;
    text-align: center;
    color: rgb(6, 95, 212);
    border: 0.5px solid rgb(6, 95, 212);
    border-radius: 3px;
    cursor: pointer;
    margin: 0 12px 0 0;
    transition: background-color 0.2s, color 0.2s;
    padding: 9px 12px;
  }
  .Join-button:hover
  {
    color: white;
    background-color: rgb(6, 95, 212);
  }
  .Join-button:active
  {
    opacity: 0.6;
  }

  .Tweet-button
  {
    font-size: 14px;
    font-weight: bold;
    background-color: rgb(29, 155, 240);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s;
    padding: 7px 16px;
  }
  .Tweet-button:hover
  {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .25);
  }
  .Tweet-button:active
  {
   opacity: .6;
  }