 p{
    font-family: Roboto;
    margin-top: 0;
  }
  .vidtitle{
    font-size: 18px;
    font-weight: bold;
    width: 250px;
    line-height: 24px;
    margin-bottom: 4px;
  }
  .ytname{
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin-bottom: 20px;
  }
  .yap
  {
    font-size: 14px;
    color: rgb(96, 96, 96);
    width: 280px;
    line-height: 20px;
    margin-bottom: 67px;
  }
  .displaytext{
    font-size: 14px;
    background-color:rgb(227, 65, 64);
    color: white;
    text-align: center;
    padding: 16px; 
  }
  .shopnw:hover{
    color: white;
    text-decoration: underline;
    cursor: pointer;
  }